<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/shubhtoy/dl-vaxin/static/css/style.js"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="https://use.typekit.net/ucb7dna.css"/>
        <link href="//db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-3WWQEN9XC5"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-3WWQEN9XC5");
    </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <title>Delhi Resources
    </title>
    <body>
        <div class="grid-container">
            <div class="grid_layer heading">
                <div class="column">
                    <div class="greet"></div>
                    <div class="name_title">Dear User
                    </div>
                </div>
                <img class="sun" src="https://cdn.jsdelivr.net/gh/shubhtoy/dl-vaxin/static/images/icons/morning.png">

            </div>
            <div class="grid_layer content1">
                <div class="column2 part1">
                    <div class='row1'>
                        <div class="inner">18-45</div>
                    </div>
                    <div class="row2">
                        <div></div>
                        <div class="go_img"><img class="go_img" src="https://raw.githubusercontent.com/shubhtoy/dl-vaxin/live/static/images/icons/backward.png"/></div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="column2 part2">
                    <div class='row1'><div class="inner">45+</div></div>
                    <div class="row2">
                        <div class=></div>
                        <div class="go_img"><img class="go_img" src="https://raw.githubusercontent.com/shubhtoy/dl-vaxin/live/static/images/icons/backward.png"/></div>
                    </div>
                </div>
            </div>
            <div class="grid_layer content2">
                <div class="column3 part3">
                    <div class="row3"><div class="inner2">Covid Beds</div></div>
                    <div class="row4">
                        <div></div>
                        <div class="go_img"><img class="go_img" src="https://raw.githubusercontent.com/shubhtoy/dl-vaxin/live/static/images/icons/backward.png"/></div>
                    </div>
                </div>
            </div>
            <div class="grid_layer content1">
                <div class="column2 part4">
                    <div class='row1'><div class="inner">Resource Bot</div></div>
                    <div class="row2">
                        <div></div>
                        <div class="go_img"><img class="go_img" src="https://raw.githubusercontent.com/shubhtoy/dl-vaxin/live/static/images/icons/backward.png"/></div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="column2 part5">
                    <div class='row1'><div class="inner">Twitter Tool</div></div>
                    <div class="row2">
                        <div></div>
                        <div class="go_img"><img class="go_img" src="https://raw.githubusercontent.com/shubhtoy/dl-vaxin/live/static/images/icons/backward.png"/></div>
                    </div>
                </div>
            </div>
            <div class="grid_layer content2"></div>

            <div class="grid_layer content3">
                <div class="quote">
                    <q class="actual_quote"></q>
                </div>
                <div class="author"></div>
                <h2>
                    Created with ❤️️ by
                    <a href="https://instagram.com/shubhtoy" target="_blank"
                      >Abhivyakti Evolve</a
                    >
                  </h2>
            </div>

        </div>
        

    </body>
    <script src="https://cdn.jsdelivr.net/gh/shubhtoy/dl-vaxin/static/js/main.js" language="JavaScript" type="text/javascript"></script>

</html></body></html>
